


/* CONTACTO */


/* Labels del formulario*/
label{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    textarea{
    width: 300px; /* Ancho fijo */
    height: 200px; /* Altura fija */
    resize: none; /* Deshabilita la redimensionabilidad */
    }
    
    #h1C, #h2C{
    font-size: 40px;
    color: white;
    text-shadow: 1px 5px 5px hsl(0, 0%, 0%);
    }
    
    #pC{
    font-size: 30px;
    color: white;
    text-shadow: 1px 5px 5px hsl(0, 0%, 0%);
    }
    
    .imagenContacto{
    height: 800px;
    width: 1000px;
    }
    
    
    
    /* Contacto Smartphones */
    
    @media (max-width: 767px){
    
    #h1C, #h2C{
      font-size: 30px;
      color: white;
      text-shadow: 1px 5px 5px hsl(0, 0%, 0%);
    }
    
    #pC{
      font-size: 20px;
      color: white;
      text-shadow: 1px 5px 5px hsl(0, 0%, 0%);
    }
    
    .imagenContacto{
        height: 175px;
        width: 250px;
    }
    
    }
    
    
    /* Contacto Tabletas pequeñas */
    @media (min-width: 768px) and (max-width: 1023px){
    
      .imagenContacto{
        height: 310px;
        width: 420px;
    }
    
    }
    
    /* Contacto Laptops y tabletas grandes */
    
    @media(min-width: 1024px) and (max-width: 1439px){
    
    .imagenContacto{
      height: 400px;
      width: 540px;
    }
    
    
    }



  /* PRODUCTOS*/

  #imgProducto{
    margin: 5px;
  }